
<div id="activate" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">&times;</button>
        </div>
            <div class="modal-body">
              <div class="alert alert-success">
                Account Activated Successfully please log in...
              </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div id="notactivate" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">&times;</button>
        </div>
            <div class="modal-body">
               <div class="alert alert-danger">
                 Activation Link Expired
               </div>
               resend email?
               <button type="button" ng-click="activate.resend()">Resend email</button>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
