<div class="page-header">
	<h1 align="center">Workspace</h1>
</div>
<a class="btn btn-primary btn-lg " href="/newwrkspc"><span class="glyphicon glyphicon-briefcase"></span> add new workspace</a>
<br>
<br>

<!-- Workspace Management Table -->
<div class="panel panel-primary">
    <!-- Heading -->
    <div class="panel-heading ">
        <strong>Workspace Management</strong>
    </div>
    <!-- Start: Table -->
    <table class="table">
        <tr>
            <th>Campus Name</th>
            <th>Profile</th>
            <th>Profile Description</th>
            <th>Date Created</th>
        </tr>
        <tr ng-repeat="i in main.wrk">
            <td>{{ i.campname }}</td>
            <td>{{ i.profile }}</td>
            <td>{{ i.prodesc }}</td>
            <td>{{i.datecreated1}}</td>
        </tr>
        <!-- End: Table -->
    </table>
</div>
<!-- Workspace Management Table -->