<div class="container">

<div class="jumbotron text-center">
	<h2 align="center">Workspace Management</h1>
    <hr>
    <p>Here you can mange your previous workspaces and add new workspace.</p>
    <hr>
    <a class="btn btn-primary btn-lg btn-block " href="/newwrkspc"><span class="glyphicon glyphicon-briefcase"></span> Add new workspace</a>
</div>

<br>
<br>

<!-- Workspace Management Table -->
<div class="panel panel-info" ng-show="main.wrkboo">
    <!-- Heading -->
    <div class="panel-heading text-center ">
        <strong>Workspaces </strong>
    </div>
    <div class="panel-body">
      <!-- Start: Table -->
    <table class="table">
        <tr>
            <th>Campus Name</th>
            <th>Profile</th>
            <th>Profile Description</th>
            <th>Date Created</th>
            <th></th>
        </tr>
        <tr ng-repeat="i in main.wrk">
            <td>{{ i.campname }}</td>
            <td>{{ i.profile }}</td>
            <td>{{ i.prodesc }}</td>
            <td>{{i.datecreated1}}</td>
            <td><button class="btn btn-sm btn-warning">Edit</button> <button class="btn btn-sm btn-danger">Delete</button></td>
        </tr>
        <!-- End: Table -->
    </table>  
    </div>
</div>
<div class="well text-center" ng-show="!main.wrkboo">
    <h2>You have no previous workspace !!!!</h2>
    <p> Add a new workspace. </p>
</div>
<!-- Workspace Management Table -->
</div>